ul.koudoku-pricing-table {
  
  position: relative;
  margin: 20px 0;
  margin-left: 25px;
  

  li.plan {

    text-align: center;

    background-color: #f5f5f5;
    margin-top: 17px;

    margin-left: 0;

    position: relative;
    z-index: 99;
    
    &.plan-primary {
      background-color: #f9f9f9;
      margin-top: 0px;
      
      margin-left: -5px;
      margin-right: -5px;
      
      z-index: 100;

      h3 {
        font-size: 32.5px;
        line-height: 51px;
      }
      h4 {
        line-height: 22px;
      }
      a, input[type=submit] {
        font-size: 21.5px;
        line-height: 26px;
      }
      ul.features {
        margin-bottom: 12px;
        li {
          font-size: 12pt;
        }
      }
    }
  
    .call-to-action {
      margin: 10px 0;
    }

    .features {
      margin: 0;
      li {
        list-style: none;
        padding: 8px;
        line-height: 18px;
        vertical-align: top;
        border-top: 1px solid #dddddd;
      }
      li:first-child {
        border-top: none;
      }
    }
    
  }
  

  .social-proof {
    padding: 17px 0;
    blockquote {
      h2, h3, h4 {
        padding: 5px 0;
      }
    }
  }
  
}