<!DOCTYPE html>
<html>
<head>
  <title>Koudoku</title>
  <%= stylesheet_link_tag    "koudoku/application", :media => "all" %>
  <%= javascript_include_tag "koudoku/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
