<blockquote>
<h4>"Some Great Quote"</h4> &mdash; Person at Place
</blockquote>

<blockquote>
<h4>"This is a great service and you've been the best ever! Thanks!"</h4> &mdash; Person at Place
</blockquote>

<blockquote>
<h4>"I love you guys and you're the best! You're the best!"</h4> &mdash; Person at Place
</blockquote>
